@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

// Fonts
$main-font: 'Share Tech Mono', monospace;

//background styles
$background: '../assets/background.jpg';
$pricing-background: hsl(0, 0%, 100%);